//@@include('inc/header.html')

<!-- Section: Menu -->
//@@include('sections/menu.html')
<!-- End of Section: Menu -->

<!-- Section: Main -->
<main class="l-main">

	<!-- Section: Categories -->
	//@@include('sections/categories.html')
	<!-- End of Section: Categories -->

	<!-- Section: Checkout -->
	//@@include('sections/checkout-steps.html')
	<!-- End of Section: Checkout -->

	<!-- Subscribe -->
	//@@include('sections/subscribe.html')
	<!-- End of Subscribe -->

</main>
<!-- End of Section: Main -->

//@@include('inc/footer.html')
