//@@include('inc/header.html')

<!-- Section: Menu -->
//@@include('sections/menu.html')
<!-- End of Section: Menu -->

<!-- Section: Main -->
<main class="l-main">

	<!-- Section: Slider -->
	//@@include('sections/slider.html')
	<!-- End of Section: Slider -->

	<!-- Section: Promo -->
	//@@include('sections/promo.html')
	<!-- End of Section: Promo -->

	<!-- Section: Goods -->
	//@@include('sections/goods.html')
	<!-- End of Section: Goods -->

	<!-- Section: Banner -->
	//@@include('sections/banner.html')
	<!-- End of Section: Banner -->
	
	<!-- Subscribe -->
	//@@include('sections/subscribe.html')
	<!-- End of Subscribe -->

</main>
<!-- End of Section: Main -->

//@@include('inc/footer.html')
