//@@include('inc/header.html')

<!-- Section: Menu -->
//@@include('sections/menu.html')
<!-- End of Section: Menu -->

<!-- Section: Main -->
<main class="l-main">

	<!-- Section: Categories -->
	//@@include('sections/categories.html')
	<!-- End of Section: Categories -->

	<section class="l-products h-mt60">
		<div class="container">
			<div class="l-products__inner h-flex">
				<div class="l-products l-products__categories">
					//@@include('sections/product-categories.html')
				</div>
				<div class="l-products l-products__main h-ml50">
					//@@include('sections/products-main.html')
				</div>
			</div>
		</div>
	</section>

	<!-- Section: Banner -->
	//@@include('sections/banner-short.html')
	<!-- End of Section: Banner -->

	<!-- Subscribe -->
	//@@include('sections/subscribe.html')
	<!-- End of Subscribe -->

</main>
<!-- End of Section: Main -->

//@@include('inc/footer.html')
