<section class="c-section c-section--banner">

	<div class="c-banner">

		<!-- Text -->

		<div class="c-banner__text c-banner__text--short">
			<div class="container">
				<div class="row">

					<!-- Item -->
					<div class="col-lg-4">
						<article class="c-banner__item c-banner__item--short">
							<img src="assets/img/icon/1.svg" alt="icon">
							<span class="c-banner__text-block">
								<h5>Free Delivery</h5>
								<p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
							</span>
						</article>
					</div>
					<!-- End of Item -->

					<!-- Item -->
					<div class="col-lg-4">
						<article class="c-banner__item c-banner__item--short">
							<img src="assets/img/icon/2.svg" alt="icon">
							<span class="c-banner__text-block">
								<h5>Sales & discounts</h5>
								<p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
							</span>
						</article>
					</div>
					<!-- End of Item -->

					<!-- Item -->
					<div class="col-lg-4">
						<article class="c-banner__item c-banner__item--short">
							<img src="assets/img/icon/3.svg" alt="icon">
							<span class="c-banner__text-block">
								<h5>Quality assurance</h5>
								<p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
							</span>
						</article>
					</div>
					<!-- End of Item -->

				</div>
			</div>
		</div>

		<!-- End of Text -->

	</div>
</section>
