<section class="c-section c-section--subscribe">

	<!-- Background -->
	<div class="c-section__bg c-section__bg--first">
		<img style="width: 0; height: 0" src="assets/img/bg/3.png" alt="background">
	</div>
<!--	<div class="c-section__bg c-section__bg&#45;&#45;second">-->
<!--		<img src="assets/img/bg/4.png" alt="background">-->
<!--	</div>-->
	<!-- End of Background -->

	<div class="c-section__content">
		<div class="container">
			<div class="row">

				<div class="col-md-6">
					<div class="c-slider-review">

						<!-- Slider Item -->
						<div class="item">
							<div class="c-slider-review__image">
								<img src="assets/img/people/1.png" alt="people">
							</div>
							<div class="c-slider-review__main">
								<span class="review">“Vestibulum quis porttitor dui! Quisque viverra nunc mi,
									a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”
								</span>
								<span class="man h-color-primary">Bin Burhan</span>
								<span class="land">Dhaka, Bd</span>
							</div>
						</div>
						<!-- End of Slider Item -->

						<!-- Slider Progress -->
						<div class="c-slider-review__progress">
							<div class="item"></div>
							<div class="item is-active"></div>
							<div class="item"></div>
						</div>
						<!-- End of Slider Progress -->

					</div>
				</div>

				<div class="col-md-6">
					<div class="c-subscriber">

						<!-- Title -->
						<div class="c-subscriber__title">
							<h3>Subscribe</h3>
							<h4> FOR OUR NEWLETTER AND PROMOTION</h4>
						</div>
						<!-- End of Title -->

						<!-- Form -->
						<div class="c-subscriber__form">
							<form>
								<input required placeholder="Email" type="email">
								<button class="c-button c-button--color-primary"><span>Subscribe</span></button>
							</form>
						</div>
						<!-- End of Form -->

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
