<section class="c-section c-section--banner">
	<div class="container">
		<div class="c-banner">
			<div class="row no-gutters">
				<div class="col-lg-8">

					<!-- Image -->
					<div class="c-banner__image">
						<div class="c-banner__image--first">
							<img src="assets/img/bg/1.png" alt="banner-image">
						</div>
						<div class="c-banner__image--second">
							<img src="assets/img/bg/2.png" alt="background">
						</div>
						<div class="c-banner__title">
							<span class="c-banner__title c-banner__title--first">30%
								<span class="h-color-primary">offer</span>
							</span>
							<br>
							<span class="c-banner__title c-banner__title--second">for women</span>
						</div>
					</div>
					<!-- End of Image -->
				</div>
				<div class="col-lg-4">

					<!-- Text -->
					<div class="c-banner__text">

						<!-- Item -->
						<div class="c-banner__item h-mb30">
							<div class="c-banner__item c-banner__item--img">
								<img src="assets/img/icon/1.svg" alt="icon">
							</div>
							<div class="c-banner__item c-banner__item--text">
								<h5>Free Delivery</h5>
								<p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
							</div>
						</div>

						<!-- Item -->
						<div class="c-banner__item h-mb30">
							<div class="c-banner__item c-banner__item--img">
								<img src="assets/img/icon/2.svg" alt="icon">
							</div>
							<div class="c-banner__item c-banner__item--text">
								<h5>Sales & discounts</h5>
								<p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
							</div>
						</div>
						<!-- End of Item -->

						<!-- Item -->
						<div class="c-banner__item">
							<div class="c-banner__item c-banner__item--img">
								<img src="assets/img/icon/3.svg" alt="icon">
							</div>
							<div class="c-banner__item c-banner__item--text">
								<h5>Quality assurance</h5>
								<p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
							</div>
						</div>
						<!-- End of Item -->

					</div>

					<!-- End of Text -->

				</div>
			</div>
		</div>
	</div>
</section>
