<section class="c-section c-section--cart-goods">
	<div class="container">
		<div class="c-table-cart">
			<table>

				<!-- Table Header -->
				<tr class="c-table-cart__header">
					<th>Product Details</th>
					<th>Unite Price</th>
					<th>Quantity</th>
					<th>Shipping</th>
					<th>Subtotal</th>
					<th>Action</th>
				</tr>
				<!-- End of Table Header -->

				<!-- Table Body -->
				<tr>
					<td>
						<div class="c-product-cart c-product-cart--in-cart">
							<a href="#.">
								<img src="assets/img/goods/1.png" class="c-product-cart__img h-mr20">
							</a>
							<div class="c-product-cart__text">
								<h4 class="h-pb20">Mango People T-shirt</h4>
								<span class="c-product-cart__text c-product-cart__text--object">Color:
									<span class="c-product-cart__text c-product-cart__text--property">Red</span>
								</span>
								<span class="c-product-cart__text c-product-cart__text--object">Size:
									<span class="c-product-cart__text c-product-cart__text--property">XLL</span>
								</span>
							</div>
						</div>
					</td>
					<td>$150</td>
					<td>
						<input type="text">
					</td>
					<td>FREE</td>
					<td>$300</td>
					<td>
						<i class="fas fa-times-circle"></i>
					</td>
				</tr>
				<!-- End of Table Body -->

			</table>
		</div>
	</div>
</section>
