<section class="c-section c-section--checkout">
	<div class="c-section__inner">
		<div class="container">

			<!-- Item -->
			<div class="c-checkout">
				<div data-reletive2="here" class="c-checkout__parent is-active">
					<h3>01. Shipping Address</h3>
				</div>
				<div class="js-drop c-checkout__drop is-active">
					<div class="row">
						<div class="col-md-6">
							<form action="">
								<div class="c-checkout__title">
									<h3>Check as a guest or register</h3>
									<h4>Register with us for future convenience</h4>
								</div>
								<div class="c-checkout__radio h-mt20">
									<div>
										<input id="first" name="radio" type="radio">
										<label for="first">
											<span>checkout as guest</span>
										</label>
									</div>
									<div>
										<input id="second" checked name="radio" type="radio">
										<label for="second">
											<span>register</span>
										</label>
									</div>
								</div>
								<div class="c-checkout__title h-mt20">
									<h3>Register and save time!</h3>
									<h4>Register with us for future convenience</h4>
								</div>
								<div class="c-checkout__title h-mt20">
									<h4>
										<i class="fas fa-angle-double-right"></i>
										<span>Fast and easy checkout</span>
									</h4>
									<h4>
										<i class="fas fa-angle-double-right"></i>
										<span>Easy access to your order history and status</span>
									</h4>
								</div>
								<button type="submit" class="c-button c-button--grey-3 c-button--medium2 h-mt30">Continue</button>
							</form>
						</div>
						<div class="col-md-6"></div>
					</div>
				</div>
			</div>
			<!-- End of Item -->

			<!-- Item -->
			<div class="c-checkout">
				<div data-reletive2="here" class="c-checkout__parent">
					<h3>01. Shipping Address</h3>
				</div>
				<div class="js-drop c-checkout__drop">
					<div class="row">
						<div class="col-md-6">
							<form action="">
								<div class="c-checkout__title">
									<h3>Check as a guest or register</h3>
									<h4>Register with us for future convenience</h4>
								</div>
								<div class="c-checkout__radio h-mt20">
									<div>
										<input id="first" name="radio" type="radio">
										<label for="first">
											<span>checkout as guest</span>
										</label>
									</div>
									<div>
										<input id="second" checked name="radio" type="radio">
										<label for="second">
											<span>register</span>
										</label>
									</div>
								</div>
								<div class="c-checkout__title h-mt20">
									<h3>Register and save time!</h3>
									<h4>Register with us for future convenience</h4>
								</div>
								<div class="c-checkout__title h-mt20">
									<h4>
										<i class="fas fa-angle-double-right"></i>
										<span>Fast and easy checkout</span>
									</h4>
									<h4>
										<i class="fas fa-angle-double-right"></i>
										<span>Easy access to your order history and status</span>
									</h4>
								</div>
								<button type="submit" class="c-button c-button--grey-3 c-button--medium2 h-mt30">Continue</button>
							</form>
						</div>
						<div class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam consequuntur, dicta dolores eaque fuga ipsa iusto maiores nam neque nesciunt nisi officiis perferendis, quam quasi similique veritatis. Aperiam culpa, sequi? Ab beatae explicabo, mollitia nesciunt sequi tenetur! Accusamus adipisci eum expedita maiores nam quasi quis recusandae rerum veritatis voluptates?</div>
					</div>
				</div>
			</div>
			<!-- End of Item -->

			<!-- Item -->
			<div class="c-checkout">
				<div data-reletive2="here" class="c-checkout__parent">
					<h3>01. Shipping Address</h3>
				</div>
				<div class="js-drop c-checkout__drop">
					<div class="row">
						<div class="col-md-6">
							<form action="">
								<div class="c-checkout__title">
									<h3>Check as a guest or register</h3>
									<h4>Register with us for future convenience</h4>
								</div>
								<div class="c-checkout__radio h-mt20">
									<div>
										<input id="first" name="radio" type="radio">
										<label for="first">
											<span>checkout as guest</span>
										</label>
									</div>
									<div>
										<input id="second" checked name="radio" type="radio">
										<label for="second">
											<span>register</span>
										</label>
									</div>
								</div>
								<div class="c-checkout__title h-mt20">
									<h3>Register and save time!</h3>
									<h4>Register with us for future convenience</h4>
								</div>
								<div class="c-checkout__title h-mt20">
									<h4>
										<i class="fas fa-angle-double-right"></i>
										<span>Fast and easy checkout</span>
									</h4>
									<h4>
										<i class="fas fa-angle-double-right"></i>
										<span>Easy access to your order history and status</span>
									</h4>
								</div>
								<button type="submit" class="c-button c-button--grey-3 c-button--medium2 h-mt30">Continue</button>
							</form>
						</div>
						<div class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam consequuntur, dicta dolores eaque fuga ipsa iusto maiores nam neque nesciunt nisi officiis perferendis, quam quasi similique veritatis. Aperiam culpa, sequi? Ab beatae explicabo, mollitia nesciunt sequi tenetur! Accusamus adipisci eum expedita maiores nam quasi quis recusandae rerum veritatis voluptates?</div>
					</div>
				</div>
			</div>
			<!-- End of Item -->

			<!-- Item -->
			<div class="c-checkout">
				<div data-reletive2="here" class="c-checkout__parent">
					<h3>01. Shipping Address</h3>
				</div>
				<div class="js-drop c-checkout__drop">
					<div class="row">
						<div class="col-md-6">
							<form action="">
								<div class="c-checkout__title">
									<h3>Check as a guest or register</h3>
									<h4>Register with us for future convenience</h4>
								</div>
								<div class="c-checkout__radio h-mt20">
									<div>
										<input id="first" name="radio" type="radio">
										<label for="first">
											<span>checkout as guest</span>
										</label>
									</div>
									<div>
										<input id="second" checked name="radio" type="radio">
										<label for="second">
											<span>register</span>
										</label>
									</div>
								</div>
								<div class="c-checkout__title h-mt20">
									<h3>Register and save time!</h3>
									<h4>Register with us for future convenience</h4>
								</div>
								<div class="c-checkout__title h-mt20">
									<h4>
										<i class="fas fa-angle-double-right"></i>
										<span>Fast and easy checkout</span>
									</h4>
									<h4>
										<i class="fas fa-angle-double-right"></i>
										<span>Easy access to your order history and status</span>
									</h4>
								</div>
								<button type="submit" class="c-button c-button--grey-3 c-button--medium2 h-mt30">Continue</button>
							</form>
						</div>
						<div class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam consequuntur, dicta dolores eaque fuga ipsa iusto maiores nam neque nesciunt nisi officiis perferendis, quam quasi similique veritatis. Aperiam culpa, sequi? Ab beatae explicabo, mollitia nesciunt sequi tenetur! Accusamus adipisci eum expedita maiores nam quasi quis recusandae rerum veritatis voluptates?</div>
					</div>
				</div>
			</div>
			<!-- End of Item -->

			<!-- Item -->
			<div class="c-checkout">
				<div data-reletive2="here" class="c-checkout__parent">
					<h3>01. Shipping Address</h3>
				</div>
				<div class="js-drop c-checkout__drop">
					<div class="row">
						<div class="col-md-6">
							<form action="">
								<div class="c-checkout__title">
									<h3>Check as a guest or register</h3>
									<h4>Register with us for future convenience</h4>
								</div>
								<div class="c-checkout__radio h-mt20">
									<div>
										<input id="first" name="radio" type="radio">
										<label for="first">
											<span>checkout as guest</span>
										</label>
									</div>
									<div>
										<input id="second" checked name="radio" type="radio">
										<label for="second">
											<span>register</span>
										</label>
									</div>
								</div>
								<div class="c-checkout__title h-mt20">
									<h3>Register and save time!</h3>
									<h4>Register with us for future convenience</h4>
								</div>
								<div class="c-checkout__title h-mt20">
									<h4>
										<i class="fas fa-angle-double-right"></i>
										<span>Fast and easy checkout</span>
									</h4>
									<h4>
										<i class="fas fa-angle-double-right"></i>
										<span>Easy access to your order history and status</span>
									</h4>
								</div>
								<button type="submit" class="c-button c-button--grey-3 c-button--medium2 h-mt30">Continue</button>
							</form>
						</div>
						<div class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam consequuntur, dicta dolores eaque fuga ipsa iusto maiores nam neque nesciunt nisi officiis perferendis, quam quasi similique veritatis. Aperiam culpa, sequi? Ab beatae explicabo, mollitia nesciunt sequi tenetur! Accusamus adipisci eum expedita maiores nam quasi quis recusandae rerum veritatis voluptates?</div>
					</div>
				</div>
			</div>
			<!-- End of Item -->

			<!-- Item -->
			<div class="c-checkout">
				<div data-reletive2="here" class="c-checkout__parent">
					<h3>01. Shipping Address</h3>
				</div>
				<div class="js-drop c-checkout__drop">
					<div class="row">
						<div class="col-md-6">
							<form action="">
								<div class="c-checkout__title">
									<h3>Check as a guest or register</h3>
									<h4>Register with us for future convenience</h4>
								</div>
								<div class="c-checkout__radio h-mt20">
									<div>
										<input id="first" name="radio" type="radio">
										<label for="first">
											<span>checkout as guest</span>
										</label>
									</div>
									<div>
										<input id="second" checked name="radio" type="radio">
										<label for="second">
											<span>register</span>
										</label>
									</div>
								</div>
								<div class="c-checkout__title h-mt20">
									<h3>Register and save time!</h3>
									<h4>Register with us for future convenience</h4>
								</div>
								<div class="c-checkout__title h-mt20">
									<h4>
										<i class="fas fa-angle-double-right"></i>
										<span>Fast and easy checkout</span>
									</h4>
									<h4>
										<i class="fas fa-angle-double-right"></i>
										<span>Easy access to your order history and status</span>
									</h4>
								</div>
								<button type="submit" class="c-button c-button--grey-3 c-button--medium2 h-mt30">Continue</button>
							</form>
						</div>
						<div class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam consequuntur, dicta dolores eaque fuga ipsa iusto maiores nam neque nesciunt nisi officiis perferendis, quam quasi similique veritatis. Aperiam culpa, sequi? Ab beatae explicabo, mollitia nesciunt sequi tenetur! Accusamus adipisci eum expedita maiores nam quasi quis recusandae rerum veritatis voluptates?</div>
					</div>
				</div>
			</div>
			<!-- End of Item -->

		</div>
	</div>
</section>
