<section class="c-section c-section--goods">
	<div class="container">

		<!-- Title -->
		<h3 class="c-text c-text--title c-text--h3 h-text-center h-color-dark">Fetured Items</h3>
		<h6 class="c-text c-text--h6 h-text-center h-color-light-dark h-mb60">Shop for items based on what we featured in this week</h6>
		<!-- End of Title -->

		<!-- Good items -->
		<div class="row h-mb30">
			<div class="col-lg-3 col-md-6">
				<div class="c-good">
					<div class="c-good__image">
						<div class="c-good__image c-good__image--main">
							<img alt="goods" src="assets/img/goods/1.png">

							<!-- Hover -->
							<div class="c-good__image c-good__image--hover">
								<div class="c-button c-button--small c-button--grey-2">
									<i class="fas fa-cart-plus h-mr8"></i>
									<span>Add to Cart</span>
								</div>
							</div>
							<!-- End of Hover -->

						</div>
					</div>

					<!-- Prise and description -->
					<div class="c-good__text">
						<h6>Mango People T-shirt</h6>
						<p>$52.00</p>
					</div>
					<!-- End of Prise and description -->

				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="c-good">
					<div class="c-good__image">
						<div class="c-good__image c-good__image--main">
							<img alt="goods" src="assets/img/goods/1.png">

							<!-- Hover -->
							<div class="c-good__image c-good__image--hover">
								<div class="c-button c-button--small c-button--grey-2">
									<i class="fas fa-cart-plus h-mr8"></i>
									<span>Add to Cart</span>
								</div>
							</div>
							<!-- End of Hover -->

						</div>
					</div>

					<!-- Prise and description -->
					<div class="c-good__text">
						<h6>Mango People T-shirt</h6>
						<p>$52.00</p>
					</div>
					<!-- End of Prise and description -->

				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="c-good">
					<div class="c-good__image">
						<div class="c-good__image c-good__image--main">
							<img alt="goods" src="assets/img/goods/1.png">

							<!-- Hover -->
							<div class="c-good__image c-good__image--hover">
								<div class="c-button c-button--small c-button--grey-2">
									<i class="fas fa-cart-plus h-mr8"></i>
									<span>Add to Cart</span>
								</div>
							</div>
							<!-- End of Hover -->

						</div>
					</div>

					<!-- Prise and description -->
					<div class="c-good__text">
						<h6>Mango People T-shirt</h6>
						<p>$52.00</p>
					</div>
					<!-- End of Prise and description -->

				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="c-good">
					<div class="c-good__image">
						<div class="c-good__image c-good__image--main">
							<img alt="goods" src="assets/img/goods/1.png">

							<!-- Hover -->
							<div class="c-good__image c-good__image--hover">
								<div class="c-button c-button--small c-button--grey-2">
									<i class="fas fa-cart-plus h-mr8"></i>
									<span>Add to Cart</span>
								</div>
							</div>
							<!-- End of Hover -->

						</div>
					</div>

					<!-- Prise and description -->
					<div class="c-good__text">
						<h6>Mango People T-shirt</h6>
						<p>$52.00</p>
					</div>
					<!-- End of Prise and description -->

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="c-good">
					<div class="c-good__image">
						<div class="c-good__image c-good__image--main">
							<img alt="goods" src="assets/img/goods/1.png">

							<!-- Hover -->
							<div class="c-good__image c-good__image--hover">
								<div class="c-button c-button--small c-button--grey-2">
									<i class="fas fa-cart-plus h-mr8"></i>
									<span>Add to Cart</span>
								</div>
							</div>
							<!-- End of Hover -->

						</div>
					</div>

					<!-- Prise and description -->
					<div class="c-good__text">
						<h6>Mango People T-shirt</h6>
						<p>$52.00</p>
					</div>
					<!-- End of Prise and description -->

				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="c-good">
					<div class="c-good__image">
						<div class="c-good__image c-good__image--main">
							<img alt="goods" src="assets/img/goods/1.png">

							<!-- Hover -->
							<div class="c-good__image c-good__image--hover">
								<div class="c-button c-button--small c-button--grey-2">
									<i class="fas fa-cart-plus h-mr8"></i>
									<span>Add to Cart</span>
								</div>
							</div>
							<!-- End of Hover -->

						</div>
					</div>

					<!-- Prise and description -->
					<div class="c-good__text">
						<h6>Mango People T-shirt</h6>
						<p>$52.00</p>
					</div>
					<!-- End of Prise and description -->

				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="c-good">
					<div class="c-good__image">
						<div class="c-good__image c-good__image--main">
							<img alt="goods" src="assets/img/goods/1.png">

							<!-- Hover -->
							<div class="c-good__image c-good__image--hover">
								<div class="c-button c-button--small c-button--grey-2">
									<i class="fas fa-cart-plus h-mr8"></i>
									<span>Add to Cart</span>
								</div>
							</div>
							<!-- End of Hover -->

						</div>
					</div>

					<!-- Prise and description -->
					<div class="c-good__text">
						<h6>Mango People T-shirt</h6>
						<p>$52.00</p>
					</div>
					<!-- End of Prise and description -->

				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="c-good">
					<div class="c-good__image">
						<div class="c-good__image c-good__image--main">
							<img alt="goods" src="assets/img/goods/1.png">

							<!-- Hover -->
							<div class="c-good__image c-good__image--hover">
								<div class="c-button c-button--small c-button--grey-2">
									<i class="fas fa-cart-plus h-mr8"></i>
									<span>Add to Cart</span>
								</div>
							</div>
							<!-- End of Hover -->

						</div>
					</div>

					<!-- Prise and description -->
					<div class="c-good__text">
						<h6>Mango People T-shirt</h6>
						<p>$52.00</p>
					</div>
					<!-- End of Prise and description -->

				</div>
			</div>
		</div>
		<!-- End of Good items -->

		<!-- Button -->
<button class="c-button c-button--color-primary c-button--big h-mt30 h-mb113">
	<span>Browse All Product</span>
	<i class="fas fa-arrow-right"></i>
</button>
		<!-- End of Button -->

	</div>
</section>
