<section class="c-section c-section--products-main h-mb113">
	<div class="c-section__inner">
		<div class="c-product">

			<!-- Filter -->
			<div class="c-filter">
				<div class="row">

					<!-- Tags -->
					<div class="col-lg-4">
						<h3 class="c-filter__title">Trending now</h3>
						<div class="c-filter__tags">
							<div>
								<a href="#.">Bohemian</a>
								<a href="#.">Floral</a>
								<a href="#.">Lace</a>
							</div>
							<div>
								<a href="#.">Lace</a>
								<a href="#.">Bohemian</a>
								<a href="#.">Floral</a>
							</div>
						</div>
					</div>
					<!-- End of Tags -->
					
					<div class="col-lg-4">
						<h3 class="c-filter__title">Size</h3>
					</div>
					<div class="col-lg-4">
						<h3 class="c-filter__title">Price</h3>
					</div>
				</div>
			</div>
			<!-- End of Filter -->

			<!-- Sort -->
			<div class="c-sort h-mb50">
				<div class="c-sort__inner"></div>
			</div>
			<!-- End of Sort -->

			<!-- Goods Items-->
			<div class="c-product__goods h-mb40">
				<div class="row h-mb30">
					<div class="col-md-4">
						<div class="c-good">


							<a href="#." class="c-good__image">
								<div class="c-good__image c-good__image--main">
									<img alt="goods" src="assets/img/goods/1.png">

									<!-- Hover -->
									<div class="c-good__image c-good__image--hover">
										<div class="c-button c-button--small c-button--grey-2">
											<i class="fas fa-cart-plus h-mr8"></i>
											<span>Add to Cart</span>
										</div>
									</div>
									<!-- End of Hover -->

								</div>
							</a>

							<!-- Prise and description -->
							<div class="c-good__text">
								<a href="#.">
									<h6>Mango People T-shirt</h6>
								</a>
								<p>$52.00</p>
							</div>
							<!-- End of Prise and description -->

						</div>
					</div>
					<div class="col-md-4">
						<div class="c-good">


							<a href="#." class="c-good__image">
								<div class="c-good__image c-good__image--main">
									<img alt="goods" src="assets/img/goods/1.png">

									<!-- Hover -->
									<div class="c-good__image c-good__image--hover">
										<div class="c-button c-button--small c-button--grey-2">
											<i class="fas fa-cart-plus h-mr8"></i>
											<span>Add to Cart</span>
										</div>
									</div>
									<!-- End of Hover -->

								</div>
							</a>

							<!-- Prise and description -->
							<div class="c-good__text">
								<a href="#.">
									<h6>Mango People T-shirt</h6>
								</a>
								<p>$52.00</p>
							</div>
							<!-- End of Prise and description -->

						</div>
					</div>
					<div class="col-md-4">
						<div class="c-good">


							<a href="#." class="c-good__image">
								<div class="c-good__image c-good__image--main">
									<img alt="goods" src="assets/img/goods/1.png">

									<!-- Hover -->
									<div class="c-good__image c-good__image--hover">
										<div class="c-button c-button--small c-button--grey-2">
											<i class="fas fa-cart-plus h-mr8"></i>
											<span>Add to Cart</span>
										</div>
									</div>
									<!-- End of Hover -->

								</div>
							</a>

							<!-- Prise and description -->
							<div class="c-good__text">
								<a href="#.">
									<h6>Mango People T-shirt</h6>
								</a>
								<p>$52.00</p>
							</div>
							<!-- End of Prise and description -->

						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="c-good">


							<a href="#." class="c-good__image">
								<div class="c-good__image c-good__image--main">
									<img alt="goods" src="assets/img/goods/1.png">

									<!-- Hover -->
									<div class="c-good__image c-good__image--hover">
										<div class="c-button c-button--small c-button--grey-2">
											<i class="fas fa-cart-plus h-mr8"></i>
											<span>Add to Cart</span>
										</div>
									</div>
									<!-- End of Hover -->

								</div>
							</a>

							<!-- Prise and description -->
							<div class="c-good__text">
								<a href="#.">
									<h6>Mango People T-shirt</h6>
								</a>
								<p>$52.00</p>
							</div>
							<!-- End of Prise and description -->

						</div>
					</div>
					<div class="col-md-4">
						<div class="c-good">


							<a href="#." class="c-good__image">
								<div class="c-good__image c-good__image--main">
									<img alt="goods" src="assets/img/goods/1.png">

									<!-- Hover -->
									<div class="c-good__image c-good__image--hover">
										<div class="c-button c-button--small c-button--grey-2">
											<i class="fas fa-cart-plus h-mr8"></i>
											<span>Add to Cart</span>
										</div>
									</div>
									<!-- End of Hover -->

								</div>
							</a>

							<!-- Prise and description -->
							<div class="c-good__text">
								<a href="#.">
									<h6>Mango People T-shirt</h6>
								</a>
								<p>$52.00</p>
							</div>
							<!-- End of Prise and description -->

						</div>
					</div>
					<div class="col-md-4">
						<div class="c-good">


							<a href="#." class="c-good__image">
								<div class="c-good__image c-good__image--main">
									<img alt="goods" src="assets/img/goods/1.png">

									<!-- Hover -->
									<div class="c-good__image c-good__image--hover">
										<div class="c-button c-button--small c-button--grey-2">
											<i class="fas fa-cart-plus h-mr8"></i>
											<span>Add to Cart</span>
										</div>
									</div>
									<!-- End of Hover -->

								</div>
							</a>

							<!-- Prise and description -->
							<div class="c-good__text">
								<a href="#.">
									<h6>Mango People T-shirt</h6>
								</a>
								<p>$52.00</p>
							</div>
							<!-- End of Prise and description -->

						</div>
					</div>
				</div>
			</div>
			<!-- End of Goods -->

			<!-- Pagination -->
			<div class="c-product__pagination">
				<div class="c-product__pagination c-product__pagination--first">

				</div>
				<div class="c-product__pagination c-product__pagination--second">
					<div class="c-button c-button--empty-red c-button--small">View All</div>
				</div>
			</div>
			<!-- End of Pagination -->

		</div>
	</div>
</section>
