<section class="c-section c-section--product-cat">
	<div class="c-section__inner h-flex h-flex-d-column">

		<!-- Item -->
		<div class="c-section__item h-pb20">
			<button data-reletive2="here" class="c-button c-button--dynamic is-active">
				<span>Category</span>
				<i class="fas fa-sort-down"></i>
			</button>
			<div class="c-section__list is-active">
				<a href="#.">Accessories</a>
				<a href="#.">Bags</a>
				<a href="#.">Denim</a>
				<a href="#.">Hoodies & Sweatshirts</a>
				<a href="#.">Jackets & Coats</a>
				<a href="#.">Pants</a>
				<a href="#.">Pants</a>
				<a href="#.">Polos</a>
				<a href="#.">Shirts</a>
				<a href="#.">Shoes</a>
				<a href="#.">Shorts</a>
				<a href="#.">Sweaters & Knits</a>
				<a href="#.">T-Shirts</a>
				<a href="#.">Tanks</a>
			</div>
		</div>
		<!-- End of Item -->

		<!-- Item -->
		<div class="c-section__item h-pb20">
			<button data-reletive2="here" class="c-button c-button--dynamic">
				<span>Category</span>
				<i class="fas fa-sort-down"></i>
			</button>
			<div class="c-section__list">
				<a href="#.">Accessories</a>
				<a href="#.">Bags</a>
				<a href="#.">Denim</a>
				<a href="#.">Hoodies & Sweatshirts</a>
				<a href="#.">Jackets & Coats</a>
				<a href="#.">Pants</a>
				<a href="#.">Pants</a>
				<a href="#.">Polos</a>
				<a href="#.">Shirts</a>
				<a href="#.">Shoes</a>
				<a href="#.">Shorts</a>
				<a href="#.">Sweaters & Knits</a>
				<a href="#.">T-Shirts</a>
				<a href="#.">Tanks</a>
			</div>
		</div>
		<!-- End of Item -->

		<!-- Item -->
		<div class="c-section__item">
			<button data-reletive2="here" class="c-button c-button--dynamic">
				<span>Category</span>
				<i class="fas fa-sort-down"></i>
			</button>
			<div class="c-section__list">
				<a href="#.">Accessories</a>
				<a href="#.">Bags</a>
				<a href="#.">Denim</a>
				<a href="#.">Hoodies & Sweatshirts</a>
				<a href="#.">Jackets & Coats</a>
				<a href="#.">Pants</a>
				<a href="#.">Pants</a>
				<a href="#.">Polos</a>
				<a href="#.">Shirts</a>
				<a href="#.">Shoes</a>
				<a href="#.">Shorts</a>
				<a href="#.">Sweaters & Knits</a>
				<a href="#.">T-Shirts</a>
				<a href="#.">Tanks</a>
			</div>
		</div>
		<!-- End of Item -->

	</div>
</section>
