<section class="c-section c-section--products-main">
	<div class="c-section__inner">
		<div class="c-product">
			<div class="c-filter">
				<div class="row">
					<div class="col-lg-4">
						<h3 class="c-filter__title">Trending now</h3>
					</div>
					<div class="col-lg-4">
						<h3 class="c-filter__title">Size</h3>
					</div>
					<div class="col-lg-4">
						<h3 class="c-filter__title">Price</h3>
					</div>
				</div>
			</div>
			<div class="c-sort">
				<div class="c-sort__inner"></div>
			</div>
		</div>
	</div>
</section>
