<section class="c-section c-section--promo">
	<div class="container">
		<div class="c-section__inner">
			<div class="row">
				<div class="col-md-6">
					<div class="c-promo">
						<div class="c-promo c-promo--long h-mb20">
							<img src="assets/img/promo/1.png" alt="promo">
							<div class="c-promo__text">
								<h4 class="c-text c-text--h4">
									hot deal
								</h4>
								<h5 class="c-text c-text--h5 h-color-primary">
									for men
								</h5>
							</div>
						</div>
						<div class="c-promo c-promo--short">
							<img src="assets/img/promo/2.png" alt="promo">
							<div class="c-promo__text">
								<h4 class="c-text c-text--h4">
									luxirous & trendy
								</h4>
								<h5 class="c-text c-text--h5 h-color-primary">
									ACCESORIES
								</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="c-promo">
						<div class="c-promo c-promo--short h-mb20">
							<img src="assets/img/promo/3.png" alt="promo">
							<div class="c-promo__text">
								<h4 class="c-text c-text--h4">
									30% offer
								</h4>
								<h5 class="c-text c-text--h5 h-color-primary">
									women
								</h5>
							</div>
						</div>
						<div class="c-promo c-promo--long">
							<img src="assets/img/promo/4.png" alt="promo">
							<div class="c-promo__text">
								<h4 class="c-text c-text--h4">
									new arrivals
								</h4>
								<h5 class="c-text c-text--h5 h-color-primary">
									FOR kids
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
