.c-logo {
	display: flex;
	align-items: center;
	margin-right: 37px;
	cursor: pointer;
	
	&__img {
		height: 51px;
		margin-right: 7px;
	}
	
	&__text {
		color: $g-color-dark;
		font-size: 27px;
		font-weight: 300;
		line-height: 32px;
		text-transform: uppercase;
		letter-spacing: 0.68px;
		
		&--primary-color {
			color: $g-color-primary;
			font-weight: 400;
		}
	}
}

.c-form {
	$root2: &;
	
	&__search {
		max-width: fit-content;
		height: 38px;
		display: flex;
		align-items: center;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
		//border-radius: 3px;
		
		#{$root2} {
			&__inner {
				border-radius: 0 2px 2px 0;
				height: 100%;
				display: flex;
				
				input {
					width: 280px;
					height: 100%;
					font-size: 14px;
					background-color: #ffffff;
					border: none;
					line-height: 32px;
					padding: 14px 16px;
					border-left: 1px solid #e8e8e8;
				}
				
				button {
					display: flex;
					justify-content: center;
					align-items: center;
					border-left: 1px solid #e8e8e8;
					width: 38px;
					
					i {
						color: #a4a4a4;
						font-size: 14px;
						transition: 0.2s;
					}
					
					&:hover {
						i {
							color: $g-color-dark;
						}
					}
				}
			}
		}
	}
}

.c-header {
	display: flex;
	justify-content: space-between;
	height: 99px;
	
	&__left {
		display: flex;
		align-items: center;
	}
	
	&__right {
		display: flex;
		align-items: center;
		justify-content: right;
		
		img {
			margin-right: 26px;
			height: 29px;
			cursor: pointer;
			transition: 0.2s;
			
			&:hover {
				zoom: 103%;
			}
		}
	}
}

.c-slider {
	height: 613px;
	
	&__item {
		position: relative;
		top: -50px;
		z-index: -1;
		
		img {
			//background-size: cover;
			//background-position: center;
			//background-repeat: no-repeat;
		}
	}
	
	&__text {
		position: absolute;
		top: 276px;
	}
}

.c-text {
	
	&--title {
		color: $g-color-dark;
		letter-spacing: 1.5px;
		font-weight: 400;
		line-height: 60px;
	}
	
	&--h1 {
		font-size: 60px;
	}
	
	&--h2 {
		font-size: 40px;
	}
	
	&--h3 {
		font-size: 30px;
		font-weight: 700;
		line-height: 30px;
		margin-bottom: 16px;
		letter-spacing: 0.75px;
	}
	
	&--h4 {
		color: $g-color-dark;
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.45px;
		line-height: 18px;
	}
	
	&--h5 {
		font-size: 30px;
		letter-spacing: 0.75px;
		line-height: 30px;
		text-transform: uppercase;
	}
	
	&--h6 {
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.35px;
	}
}

.c-promo {
	width: 100%;
	height: fit-content;
	position: relative;
	display: block;
	
	&__text {
		position: absolute;
		top: 25px;
		padding: 16px 20px;
		background-color: white;
		transition: 0.5s;
	}
	
	img {
		width: 100%;
	}
	
	&--short {
		height: 283px;
		background-color: #dadad2;
		
		img {
			height: 100%;
		}
		
		&:hover {
			.c-promo__text {
				height: 100%;
				top: 0;
				padding-top: 42px;
				box-shadow: 3px -3px 6px 0px rgba(0, 0, 0, 0.20);
				background-color: rgba(255, 255, 255, 0.7);
			}
		}
	}
	
	&--long {
		height: 525px;
		
		&:hover {
			.c-promo__text {
				height: 100%;
				top: 0;
				padding-top: 40px;
				box-shadow: 3px -3px 6px 0px rgba(0, 0, 0, 0.20);
				background-color: rgba(255, 255, 255, 0.7);
			}
		}
	}
}

.c-good {
	cursor: pointer;
	transition: 0.2s;
	
	&__image {
		color: black;
		
		img {
			height: 100%;
		}
		
		&--main {
			position: relative;
		}
		
		&--hover {
			transition: 0.2s;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			display: none;
			justify-content: center;
			align-items: center;
			background-color: rgba(34, 34, 34, 0.55);
		}
	}
	
	&__text {
		padding-left: 15px;
		padding-top: 21px;
		
		a {
			h6 {
				cursor: pointer;
				color: $g-color-dark;
				font-size: 13px;
				font-weight: 400;
				text-transform: uppercase;
			}
			&:hover {
				h6 {
					letter-spacing: 1px;
				}
			}
		}
		
		p {
			padding-top: 21px;
			color: $g-color-primary;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			padding-bottom: 21px;
		}
	}
	
	&:hover {
		box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
		
		.c-good__image--hover {
			transition: 0.2s;
			display: flex;
		}
	}
	
	&:active {
		.c-good__image--hover {
			> .c-button {
				background-image: repeating-radial-gradient(ellipse farthest-corner at left top, rgb(89, 87, 88) 0%, rgb(255, 255, 255) 100%);
			}
		}
	}
}

.c-banner {
	height: 529px;
	
	&__image {
		position: relative;
		
		&--first {
			position: absolute;
			top: 0;
		}
		
		&--second {
			position: absolute;
			top: 0;
		}
	}
	
	&__title {
		position: absolute;
		top: 120px;
		padding-left: 20px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		
		&--first {
			font-size: 54px;
			letter-spacing: 1.5px;
			position: static;
		}
		
		&--second {
			font-size: 32px;
			letter-spacing: 0.9px;
			position: static;
		}
	}
	
	&__text {
		background-color: #222224;
		height: 529px;
		padding: 48px 31px 43px 31px;
	}
	
	&__item {
		display: flex;
		
		&--img {
			margin-right: 31px;
			min-width: fit-content;
			height: fit-content;
			
			img {
				min-width: 45px;
			}
		}
		
		&--text {
			display: flex;
			flex-direction: column;
			
			h5 {
				color: #fbfbfb;
				font-size: 20px;
				font-weight: 700;
				letter-spacing: 0.5px;
				padding-bottom: 15px;
			}
			
			p {
				color: #fbfbfb;
				font-size: 14px;
				font-weight: 300;
				line-height: 24px;
				letter-spacing: 0.35px;
			}
		}
	}
}

.c-slider-review {
	margin-top: 111px;
	
	.item {
		display: flex;
	}
	
	&__image {
		min-width: fit-content;
		margin-right: 28px;
	}
	
	&__main {
		display: flex;
		flex-direction: column;
		
		.review {
			margin: 12px 0 19px;
			color: #222224;
			font-size: 16px;
			font-style: italic;
			line-height: 26px;
			letter-spacing: 0.4px;
		}
		
		.man {
			color: $g-color-primary;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 0.4px;
			line-height: 26px;
		}
		
		.land {
			color: #222224;
			font-size: 12px;
			font-weight: 300;
			letter-spacing: 0.3px;
			line-height: 14px;
		}
	}
	
	&__progress {
		display: flex;
		margin: 41px 0 0 111px;
		
		.item {
			width: 38px;
			height: 4px;
			background-color: #d6d6d6;
			margin-right: 13px;
			
			&.is-active {
				background-color: $g-color-primary;
			}
		}
	}
}

.c-subscriber {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 148px;
	margin-left: 92px;
	
	&__title {
		h3 {
			color: #222224;
			font-weight: 400;
			font-size: 24px;
			letter-spacing: 0.6px;
			line-height: 54px;
			text-transform: uppercase;
			text-align: center;
		}
		
		h4 {
			color: #222224;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.35px;
			line-height: 24px;
			text-align: center;
		}
	}
	
	&__form {
		margin-top: 25px;
		width: 386px;
		max-height: 46px;
		
		form {
			display: flex;
			
			input {
				background-color: #e1e1e1;
				padding: 11px 28px;
				border-radius: 23px 0 0 23px;
				border: none;
			}
			
			button {
				background-color: $g-color-primary;
				border-radius: 0 23px 23px 0;
				padding: 0 25px;
				
				span {
					min-width: max-content;
				}
			}
		}
	}
}
