.h-color-primary {
	color: $g-color-primary;
}

.h-color-dark {
	color: $g-color-dark;
}

.h-color-light-dark {
	color: #9f9f9f;
}

.h-border-l-primary {
	border-left: 12px solid $g-color-primary;
	padding-left: 12px;
}

.h-mb-97 {
	margin-bottom: -97px;
}

.h-mb20 {
	margin-bottom: 30px;
}

.h-mb30 {
	margin-bottom: 30px;
}

.h-mb40 {
	margin-bottom: 40px;
}

.h-mb50 {
	margin-bottom: 50px;
}

.h-mb60 {
	margin-bottom: 60px;
}

.h-mb90 {
	margin-bottom: 90px;
}

.h-mb113 {
	margin-bottom: 113px;
}

.h-mr8 {
	margin-right: 8px;
}

.h-mt10 {
	margin-top: 10px;
}

.h-mt30 {
	margin-top: 30px;
}

.h-mt60 {
	margin-top: 60px;
}

.h-mt100 {
	margin-top: 100px;
}

.h-ml50 {
	margin-left: 50px;
}

.h-pb20 {
	padding-bottom: 30px;
}

.h-p-v-18 {
	padding: 18px 0;
}

.h-text-center {
	text-align: center;
}

.h-block-center {
	margin: 0 auto;
}

.h-flex {
	display: flex;
}

.h-flex-d-column {
	flex-direction: column;
}

.h-relative {
	position: relative;
}
