<!-- Section: Footer -->
<footer class="c-footer">
	<div class="container">
		<div class="row h-mt100 h-mb90">

			<!-- About Company -->
			<div class="col-md-5">

				<!-- Logo -->
				<a href="#" class="c-logo h-mb30">
					<img src="assets/img/logo/logo@2x.png" class="c-logo__img">
					<span class="c-logo__text">bran</span>
					<span class="c-logo__text c-logo__text--primary-color">d</span>
				</a>
				<!-- End of Logo -->

				<!-- Text -->
				<div class="c-footer__text">
					<p class="h-mb20">Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.</p>
					<p>
						Efficiently plagiarize 24/365 action items and focused infomediaries.
						Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
					</p>
				</div>
				<!-- End of Text -->

			</div>
			<!-- End of About Company -->

			<!-- Footer Menu -->
			<div class="col-md-7 h-flex">
				<ul class="c-footer__item">
					<li>
						<p>Company</p>
					</li>
					<li>
						<a href="#.">Home</a>
					</li>
					<li>
						<a href="#.">Shop</a>
					</li>
					<li>
						<a href="#.">About</a>
					</li>
					<li>
						<a href="#.">How It Works</a>
					</li>
					<li>
						<a href="#.">Contact</a>
					</li>
				</ul>
				<ul class="c-footer__item">
					<li>
						<p>Information</p>
					</li>
					<li>
						<a href="#.">Tearms & Condition</a>
					</li>
					<li>
						<a href="#.">Privacy Policy</a>
					</li>
					<li>
						<a href="#.">How to Buy</a>
					</li>
					<li>
						<a href="#.">How to Sell</a>
					</li>
					<li>
						<a href="#.">Promotion</a>
					</li>
				</ul>
				<ul class="c-footer__item">
					<li>
						<p>Shop category</p>
					</li>
					<li>
						<a href="#.">Men</a>
					</li>
					<li>
						<a href="#.">Women</a>
					</li>
					<li>
						<a href="#.">Child</a>
					</li>
					<li>
						<a href="#.">Apparel</a>
					</li>
					<li>
						<a href="#.">Brows All</a>
					</li>
				</ul>
			</div>
			<!-- End of Footer Menu -->

		</div>
	</div>

	<!-- Footer last block -->
	<div class="c-footer__down">
		<div class="container">

			<!-- Company name -->
			<div class="c-footer__down c-footer__down--first">
				<span>© 2017 Brand All Rights Reserved.</span>
			</div>
			<!-- End of Company name -->

			<!-- Social -->
			<div class="c-footer__down c-footer__down--second">
				<a href="#.">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="#.">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="#.">
					<i class="fab fa-linkedin-in"></i>
				</a>
				<a href="#.">
					<i class="fab fa-pinterest-p"></i>
				</a>
				<a href="#.">
					<i class="fab fa-google-plus-g"></i>
				</a>
			</div>
			<!-- End of Social -->

		</div>

	</div>
	<!-- End of Footer last block -->

</footer>
<!-- End of Section: Footer -->

<!-- Scripts -->
<script src="assets/js/vendor.min.js?v=1"></script>
<script src="assets/js/main.min.js?v=1"></script>
<!-- End of Scripts -->

</body>
</html>
