<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Meta: Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- End of Meta: Basic -->

		<!-- Meta: Mobile -->
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- End of Meta: Mobile -->

		<!-- Meta: Site -->
		<title>The brand</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="Azat Khabirov">
		<!-- End of Meta: Site -->

		<!-- Meta: Basic Images -->
		<meta property="og:image" content="assets/img/og-image.jpg">
		<link rel="shortcut icon" href="assets/img/favicon/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="assets/img/favicon/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-touch-icon-114x114.png">
		<!-- End of Meta: Basic Images -->

		<!-- Styles -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
		<link rel="stylesheet" href="assets/css/main.min.css?v=1">
		<!-- End of Styles -->

		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Meta: Mobile Bar Color -->
		<meta name="theme-color" content="#FFFFFF">
		<meta name="msapplication-navbutton-color" content="#FFFFFF">
		<meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
		<!-- End of Meta: Mobile Bar Color -->

	</head>
	<body>

		<!-- Section: Header -->
		<header class="c-section c-section--header">
			<div class="container">
				<div class="c-section__inner">
					<div class="c-header">

						<!-- Header left -->
						<div class="c-header__left">

							<!-- Logo -->
							<a href="#" class="c-logo">
								<img src="assets/img/logo/logo@2x.png" class="c-logo__img">
								<span class="c-logo__text">bran</span>
								<span class="c-logo__text c-logo__text--primary-color">d</span>
							</a>
							<!-- End of Logo -->

							<!-- Form Element -->
							<div class="c-form">
								<div class="c-form__search">

									<!-- Button -->
									<div data-reletive="here" class="c-button h-relative">
										<button class="c-button c-button--small c-button--grey">
											<span class="c-button__text">Browse</span>
											<i class="fas fa-caret-down"></i>
										</button>
										<!-- Drop menu -->
										<div class="c-drop-menu c-drop-menu--main c-drop-menu--browse">
											<div class="c-drop-menu__wrapper">
												<h4 class="c-drop-menu__title">Women</h4>
												<ul class="c-drop-menu__list">
													<li>
														<a href="#.">Dresses</a>
													</li>
													<li>
														<a href="#.">Tops</a>
													</li>
													<li>
														<a href="#.">Sweaters/Knits</a>
													</li>
													<li>
														<a href="#.">Jackets/Coats</a>
													</li>
												</ul>
												<h4 class="c-drop-menu__title">Women</h4>
												<ul class="c-drop-menu__list">
													<li>
														<a href="#.">Dresses</a>
													</li>
													<li>
														<a href="#.">Tops</a>
													</li>
													<li>
														<a href="#.">Sweaters/Knits</a>
													</li>
												</ul>
											</div>
										</div>
										<!-- End of Drop menu -->
									</div>
									<!-- End of Button -->

									<!-- Form -->
									<form class="c-form__inner" action="">
										<input required placeholder="Search for Item..." type="text">
										<button class="c-button" type="submit">
											<i class="fas fa-search"></i>
										</button>
									</form>
									<!-- End of Form Element -->

								</div>
							</div>
							<!-- End of Form -->

						</div>
						<!-- End of Header left -->

						<!-- Header Right -->
						<div class="c-header__right">
							<div data-reletive="here" class="c-header__right c-header__right--img h-relative">
								<img src="assets/img/icon/cart.svg" alt="cart">
								<!-- Drop menu -->
								<div class="c-drop-menu c-drop-menu--main c-drop-menu--cart">
									<div class="c-drop-menu__wrapper">

										<!-- Products -->
										<div class="c-product-cart">
											<a href="#.">
												<img src="assets/img/goods/1.png" class="c-product-cart__img">
											</a>
											<div class="c-product-cart__text">
												<a href="#.">
													<h4>Rebox Zane</h4>
												</a>
												<img src="assets/img/icon/4.png" alt="">
												<span>1 x $250</span>
											</div>
											<div class="c-product-cart__close">
												<i class="fas fa-times-circle"></i>
											</div>
										</div>
										<div class="c-product-cart">
											<a href="#.">
												<img src="assets/img/goods/1.png" class="c-product-cart__img">
											</a>
											<div class="c-product-cart__text">
												<a href="#.">
													<h4>Rebox Zane</h4>
												</a>
												<img src="assets/img/icon/4.png" alt="">
												<span>1 x $250</span>
											</div>
											<div class="c-product-cart__close">
												<i class="fas fa-times-circle"></i>
											</div>
										</div>
										<!-- End of Products -->

										<!-- Total Price -->
										<div class="c-drop-menu__text">
											<span>total</span>
											<span>$500.00</span>
										</div>
										<!-- End of Total Price -->

										<!-- Buttons -->
										<button class="c-button c-button--medium c-button--empty-red">Checkout</button>
										<button class="c-button c-button--medium c-button--empty-grey h-mt10">Go to cart</button>
										<!-- End of Buttons -->

									</div>
								</div>
								<!-- End of Drop menu -->
							</div>
							<div class="c-button">
								<div class="c-button c-button--color-primary c-button--small">
									<span class="c-button__text">My Account</span>
									<i class="fas fa-caret-down"></i>
								</div>
							</div>
						</div>
						<!-- End of Header Right -->

					</div>
				</div>
			</div>
		</header>
		<!-- End of Section: Header -->
