//Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&display=swap&subset=cyrillic');

//Global Font-Size
html {
	font-family: $g-font-family-base;
	font-size: $g-font-size-base;
	transition: font-size ease $g-value-animation-duration;
	
	@media screen and (max-width: 768px) {
		font-size: $g-font-size-base - 2px;
	}
	
	@media screen and (max-width: 320px) {
		font-size: $g-font-size-base - 4px;
	}
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.25rem;
}

h3 {
	font-size: 1.875rem;
}

h4 {
	font-size: 0.875rem;
}
